.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}


#employee-name{
    -fx-font: 300% "Andalus";
    -fx-text-fill:grey;
    
}

/*Labels for data, i.e. labels for charts and tables holding data*/
#data-label{
    -fx-text-fill:#666666;
    -fx-font-style:italic;
    -fx-font-size:110%;
    -fx-margin-top:90px;
}

#chart-label{
    -fx-text-fill:#4D4D4D;
    -fx-font-style:bold;
    -fx-font-size:140%;
    -fx-margin-top:90px;
}

/*page titles, i.e. the 'label' for a page set up as the title*/
#page-title{
    -fx-text-fill:grey;
    -fx-font:140% "Century Gothic";
    
}

#border-box{
    -fx-border-style:dashed;
    -fx-border-width:1px;
    -fx-border-color:lightgrey;
    -fx-padding:5px;
    
}

#border-box1{
    -fx-border-style:solid;
    -fx-border-width:1px;
    -fx-border-color:lightgrey;
    -fx-padding:5px;
    
}

/*Styling for the scores (numerical values) displayed*/
#score-display{
    -fx-text-fill:#4D4D4D;
    -fx-font-size:120%;
    -fx-border-style:solid;
    -fx-border-width:1px;
    -fx-border-color:grey;
    -fx-text-alignment: center;
    -fx-padding: 3px;
    -fx-margin-top:10px;
        
}

/*Styling for the names of the metrics when displayed as part of 
the data*/
#metric-name-display{
    -fx-text-fill:#4D4D4D;
    -fx-font-size:150%;
}